*{
    margin: 0;
    padding: 0;
}
body{

}
.container{
    width: 1140px;
    margin: auto;
}
.containerWrapper{
    width: 650px;
    margin: auto;
}
.profileInput{
    margin-top: 20px;
    background-color: rgb(160, 160, 160);
    padding: 40px 50px;
    text-transform: uppercase;
    font-size: 20px;
}
.profileInput label{
    width: 150px;
    display: block;
    float: left;
}
.profileInput input{
    padding: 5px;
    margin-bottom: 12px;
    width: 60%;
    align-items: right;
    border: none;
    outline: none;
}
.profileInput button{
    width: 100%;
    background: rgb(126, 126, 170);
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
    outline: none;
    color: white;
    transition: .3s;
}
.profileInput button:hover{
    cursor: pointer;
    background: rgb(59, 59, 189);
}
.containerWrapper .profileItems{
    padding: 30px 50px;
    background-color: rgb(229, 229, 247);
    margin-top: 20px;
    border-radius: 5px;
}
.containerWrapper .profileBody p{
    text-transform: uppercase;
    line-height: 30px;
    font-size: 20px;
}
.containerWrapper .profileBody .time{
    text-align: right;
    display: block;
    width: 30%;
    float: right;
    justify-content: space-between;
}
